body, button, input {
    font-family: "Courier New", sans-serif;
    color: grey;
}

#todaydate, #yourbirthdate, #results {
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
    font-size: 16px;
    text-align: center;
    width: 200px;
    height: 20px;
    padding: 2px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    margin: 0;
}

.headermaintext {
    font-size: 36px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

.calculatorbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.bodymaintext {
    display: flex;
    gap: 4px;
}

.bodylabels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.bodydates {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.results {
    font-size: 22px;
}

.selectors {
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.selectorgroupone, .selectorgrouptwo {
    display: flex;
    gap: 4px;
}

button {
    border: 1px solid grey;
    border-radius: 2px;
    background-color: white;
}

.bodyhelp {
    text-align: center;
    margin-top: 24px;
}
